.content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
}

.content-container--fixed {
    max-height: 30rem;
    overflow: scroll;
    width: 100%;
    margin-bottom: $l-size;
}
