.input-group {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: -moz-box;
-webkit-flex-direction: column;
-webkit-justify-content: space-between;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-bottom: $m-size;
text-align: center;

@media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-bottom: $l-size;
}

}

.input-group__item {
margin-bottom: $s-size;
padding: $s-size 0;
@media (min-width: $desktop-breakpoint) {
    margin-right: $s-size;
    margin: 0 $s-size 0 0;
    // padding: 0 $s-size;

}
}
